.create-user-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
    191deg,
    rgba(150, 141, 255, 1) 27%,
    rgba(90, 184, 255, 1) 100%
  ); */
}
.create-user-card {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0rem 1rem; */
  padding-top: 2rem;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 10px;
}
.create-user-card h1{
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
}

.create-user-input {
  width: 80%;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.create-user-input label {
  width: 40%;
  font-size: 1.1rem;
}
.create-user-input input,
.create-user-input textarea {
  width: 100%;
  font-size: 1.2rem;
}
.create-user-input input {
  height: 2rem;
}
.create-user-btns {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
.create-user-btns button {
  width: 40%;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.create-user-btns button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.create-user-red-btn{
    background-color: #ff3c00;
}
.create-user-green-btn{
    background-color: seagreen;
}