.dash-card {
  width: 15rem;
  height: 8.7rem;
  background: rgb(150, 141, 255);
  background: linear-gradient(
    191deg,
    rgba(150, 141, 255, 1) 27%,
    rgba(90, 184, 255, 1) 100%
  );
  /* box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px; */
  border: 2px solid rgba(0, 0, 0, 0.445);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  cursor: pointer;
}
.dash-card:hover{
  box-shadow: rgba(0, 0, 0, 0.298) 0px 5px 15px;
  
}

.dash-card h3 {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.688);
  margin-bottom: 0.4rem;
}
.countings {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
@-webkit-keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
@keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}

.scale-up-bl {
  -webkit-animation: scale-up-bl 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
